
.container {
	display: flex;
	justify-content: left;
	border: 1px solid var(--black);
	border-radius: 10px;
	margin: 10px 0;
	padding: 20px;
	color: var(--black)
}

.imageContainer {
	padding-top: 20px;
}
.imageContainer > img{
	width: 300px;
	height: 300px;
}

.body {
	margin-right: auto;
	padding: 0 50px;
}

.review {
	min-width: 150px;
}

